In [1]:
import scanpy as sc

In [31]:
a = sc.read_h5ad('/home/estorrs/pollock/tests/data/9cefb666-5ef7-4236-a56d-0d80fa8fdba8.h5ad')
a

AnnData object with n_obs × n_vars = 1000 × 19014
    obs: 'cell_type', 'barcode', 'sample', 'n_counts', 'size_factors', 'y_pred', 'predicted_cell_type_probability', 'predicted_cell_type', 'probability B cell', 'probability CD4 T cell', 'probability CD8 T cell', 'probability Dendritic', 'probability Endothelial', 'probability Erythrocyte', 'probability Fibroblast', 'probability Malignant', 'probability Mast', 'probability Monocyte', 'probability NK', 'probability Plasma', 'probability Treg', 'UMAP1', 'UMAP2'
    var: 'mean', 'std'
    obsm: 'X_emb', 'X_umap', 'prediction_probs'

In [32]:
a.obs

,cell_type,barcode,sample,n_counts,size_factors,y_pred,predicted_cell_type_probability,predicted_cell_type,probability B cell,probability CD4 T cell,...,probability Erythrocyte,probability Fibroblast,probability Malignant,probability Mast,probability Monocyte,probability NK,probability Plasma,probability Treg,UMAP1,UMAP2
5_CCTACGTTCTTGAGCA-1,CD8 T cell,CCTACGTTCTTGAGCA-1,5,3694.0,0.999594,2,0.993783,CD8 T cell,0.001188,0.000493,...,0.000576,0.000044,0.000433,0.001017,0.000979,0.000454,0.000237,0.000498,-12.901406,12.489020
18_CTTTCGGGTGGACTAG-1,Mast,CTTTCGGGTGGACTAG-1,18,4613.0,1.248275,8,0.991350,Mast,0.001177,0.000709,...,0.000914,0.000072,0.000647,0.991350,0.000455,0.001063,0.000034,0.000762,-14.113450,0.040255
19_GAGACCCGTCTCTCAC-1,CD8 T cell,GAGACCCGTCTCTCAC-1,19,4025.0,1.089162,2,0.994227,CD8 T cell,0.001129,0.000563,...,0.000498,0.000041,0.000403,0.000842,0.000952,0.000418,0.000218,0.000444,-12.730626,12.334294
27_ACACAGTAGGAACGCT-1,Endothelial,ACACAGTAGGAACGCT-1,27,4090.0,1.106751,4,0.992443,Endothelial,0.000184,0.000382,...,0.001652,0.000430,0.000489,0.000602,0.000593,0.001389,0.000437,0.001092,1.275020,-11.516518
26_TGTGATGCACATCCCT-1,Endothelial,TGTGATGCACATCCCT-1,26,4107.0,1.111352,4,0.992681,Endothelial,0.000158,0.000445,...,0.001465,0.000531,0.000552,0.000562,0.000542,0.001324,0.000468,0.001017,1.491904,-11.850717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9_CACTGAAAGGCTCAAG-1,Fibroblast,CACTGAAAGGCTCAAG-1,9,4548.0,1.230686,6,0.949740,Fibroblast,0.000652,0.003736,...,0.010969,0.949740,0.002636,0.001690,0.005129,0.004268,0.006295,0.005109,13.039213,1.899995
5_GTGGCGTTCGGTCGAC-1,Treg,GTGGCGTTCGGTCGAC-1,5,4317.0,1.168177,12,0.992880,Treg,0.001381,0.000280,...,0.000160,0.000484,0.000434,0.000474,0.000198,0.001193,0.000980,0.992880,-11.282064,-5.527359
29_TCATCCGAGTCACTGT-1,Plasma,TCATCCGAGTCACTGT-1,29,4337.0,1.173589,11,0.993136,Plasma,0.001070,0.000159,...,0.000578,0.000495,0.000929,0.000024,0.001069,0.000148,0.993136,0.001334,0.614061,3.884884
15_GACATCATCTAGGCAT-1,Monocyte,GACATCATCTAGGCAT-1,15,3331.0,0.901367,9,0.995043,Monocyte,0.000084,0.000823,...,0.000472,0.000300,0.000079,0.000338,0.995043,0.000345,0.001021,0.000073,13.531994,11.372934
27_AAGGAATAGTTGAATG-1,Fibroblast,AAGGAATAGTTGAATG-1,27,2856.0,0.772832,6,0.995795,Fibroblast,0.000029,0.000543,...,0.001072,0.995795,0.000184,0.000130,0.000415,0.000425,0.000361,0.000449,11.890376,0.747337

In [33]:
n = a.copy()
n.obs = n.obs[[c for c in n.obs.columns if 'UMAP' not in c]]
n.write_h5ad('/home/estorrs/pollock/tests/data/blah.h5ad')

In [5]:
a = sc.read_h5ad('/home/estorrs/pollock/tests/data/dummy_norm.h5ad')
a

AnnData object with n_obs × n_vars = 1000 × 27131
    obs: 'cell_type', 'barcode', 'sample'
    var: 'features'

In [6]:
a.raw

In [9]:
a.raw.X

<1000x27131 sparse matrix of type '<class 'numpy.float64'>'
	with 1354381 stored elements in Compressed Sparse Row format>

In [11]:
a.X

<1000x27131 sparse matrix of type '<class 'numpy.float64'>'
	with 1354381 stored elements in Compressed Sparse Row format>

In [27]:
import anndata
new = anndata.AnnData(X=a.raw.X, obs=a.obs)
new.var.index = a.raw.var.iloc[:, 0].to_list()

In [28]:
new

AnnData object with n_obs × n_vars = 1000 × 27131
    obs: 'cell_type', 'barcode', 'sample'

In [29]:
a.var

              features
AL627309.1  AL627309.1
AL627309.3  AL627309.3
AL627309.4  AL627309.4
AL732372.1  AL732372.1
AL669831.2  AL669831.2
...                ...
AL354822.1  AL354822.1
AC004556.1  AC004556.1
AC233755.2  AC233755.2
AC233755.1  AC233755.1
AC240274.1  AC240274.1

[27131 rows x 1 columns]

In [30]:
new.var

Empty DataFrame
Columns: []
Index: [AL627309.1, AL627309.3, AL627309.4, AL732372.1, AL669831.2, AL669831.5, FAM87B, LINC00115, FAM41C, AL645608.7, AL645608.3, AL645608.5, AL645608.1, SAMD11, NOC2L, KLHL17, PLEKHN1, PERM1, AL645608.8, HES4, ISG15, AL645608.2, AGRN, AL645608.9, RNF223, C1orf159, LINC01342, AL390719.2, TTLL10-AS1, TTLL10, TNFRSF18, TNFRSF4, SDF4, B3GALT6, C1QTNF12, AL162741.1, UBE2J2, LINC01786, SCNN1D, ACAP3, PUSL1, INTS11, CPTP, TAS1R3, DVL1, MXRA8, AURKAIP1, CCNL2, MRPL20, AL391244.3, ANKRD65, AL391244.2, LINC01770, VWA1, ATAD3C, ATAD3B, ATAD3A, TMEM240, SSU72, AL645728.1, FNDC10, AL691432.2, MIB2, MMP23B, CDK11B, FO704657.1, SLC35E2B, CDK11A, SLC35E2A, NADK, GNB1, AL109917.1, CALML6, TMEM52, CFAP74, AL391845.2, GABRD, AL391845.1, PRKCZ, AL590822.2, PRKCZ-AS1, FAAP20, AL590822.1, SKI, MORN1, RER1, PEX10, PLCH2, AL139246.1, PANK4, HES5, AL139246.5, TNFRSF14-AS1, TNFRSF14, AL139246.3, FAM213B, MMEL1, TTC34, ACTRT2, LINC00982, ...]

[27131 rows x 0 columns]

In [21]:
a

AnnData object with n_obs × n_vars = 1000 × 27131
    obs: 'cell_type', 'barcode', 'sample'
    var: 'features'

In [22]:
a.var

              features
AL627309.1  AL627309.1
AL627309.3  AL627309.3
AL627309.4  AL627309.4
AL732372.1  AL732372.1
AL669831.2  AL669831.2
...                ...
AL354822.1  AL354822.1
AC004556.1  AC004556.1
AC233755.2  AC233755.2
AC233755.1  AC233755.1
AC240274.1  AC240274.1

[27131 rows x 1 columns]

In [34]:
a = sc.read_h5ad('/home/estorrs/pollock/tests/data/dummy_norm.h5ad')
a

AnnData object with n_obs × n_vars = 997 × 15962
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'percent.mt', 'RNA_snn_res.0.5', 'seurat_clusters', 'cell_type'
    var: 'vst.mean', 'vst.variance', 'vst.variance.expected', 'vst.variance.standardized', 'vst.variable'

In [35]:
a.obs

,orig.ident,nCount_RNA,nFeature_RNA,percent.mt,RNA_snn_res.0.5,seurat_clusters,cell_type
5_CCTACGTTCTTGAGCA-1,5,3691,1519,7.3421836900569,0,0,CD8 T cell
18_CTTTCGGGTGGACTAG-1,18,4601,2057,6.49858726363834,4,4,Mast
19_GAGACCCGTCTCTCAC-1,19,4022,1646,3.50571854798608,0,0,CD8 T cell
27_ACACAGTAGGAACGCT-1,27,4076,1877,1.74190382728165,6,6,Endothelial
26_TGTGATGCACATCCCT-1,26,4105,2097,7.16199756394641,7,7,Endothelial
...,...,...,...,...,...,...,...
9_CACTGAAAGGCTCAAG-1,9,4546,2008,5.98328200615926,1,1,Fibroblast
5_GTGGCGTTCGGTCGAC-1,5,4307,2196,7.89412584165312,6,6,Treg
29_TCATCCGAGTCACTGT-1,29,4334,739,4.40701430549146,8,8,Plasma
15_GACATCATCTAGGCAT-1,15,3331,493,9.24647253077154,3,3,Monocyte
27_AAGGAATAGTTGAATG-1,27,2854,723,10.9320252277505,1,1,Fibroblast

In [36]:
a.var

,vst.mean,vst.variance,vst.variance.expected,vst.variance.standardized,vst.variable
AL669831.5,0.032096,0.033105,0.041321,0.801179,0
LINC00115,0.014042,0.017875,0.017437,1.025143,0
FAM41C,0.007021,0.006979,0.008499,0.821164,0
SAMD11,0.012036,0.015919,0.014851,1.071905,0
NOC2L,0.103310,0.124859,0.143245,0.871641,0
...,...,...,...,...,...
AC007325.4,0.007021,0.008987,0.008499,1.057442,0
AL354822.1,0.010030,0.011947,0.012297,0.971609,0
AC004556.1,0.013039,0.014890,0.016139,0.922606,0
AC233755.1,0.003009,0.003003,0.003040,0.987676,0
AC240274.1,0.008024,0.009976,0.009751,1.023006,0

In [37]:
a.X

<997x15962 sparse matrix of type '<class 'numpy.float64'>'
	with 1349055 stored elements in Compressed Sparse Row format>

In [38]:
a.raw

In [39]:
import pollock.utils as utils

In [57]:
if a.raw is not None:
    new = anndata.AnnData(X=a.raw.X, obs=a.obs)
    new.var.index = a.raw.var.iloc[:, 0].to_list()
    new.var.index = new.var.index.astype(str)
    new.obs.index = new.obs.index.astype(str)
    adata = new

In [58]:
train_ids, rest = utils.get_splits(
    adata, 'cell_type', 500, oversample=True)

In [59]:
rest

array(['23_CAATTTCCACAGTCGC-1', '27_AGCCAATTCCGTGGGT-1',
       '29_GTTGCGGTCGGTAGGA-1', '27_AAGATAGGTATGTCCA-1',
       '29_TTACAGGCAGTCGGTC-1', '28_TGTGAGTAGATGCTAA-1',
       '23_GTTGAACCACGTCGTG-1', '24_CGTGTCTTCCAGTGCG-1',
       '29_TCCGATCGTTGACTGT-1', '28_TACTGCCCAATGAAAC-1',
       '27_TTTACCATCGGTCACG-1', '11_TGCTTCGCAGGTAGTG-1',
       '10_GACTATGAGACGACTG-1', '13_GTCACTCCACGACGAA-1',
       '28_TGTCCCAAGTGGTTAA-1', '24_GTTCCGTAGCTGTCCG-1',
       '28_CAGGGCTAGCTGTGCC-1', '5_CCACGTTCAGGTCAAG-1',
       '5_GGGTAGATCATTCGTT-1', '27_CCCTAACTCAATCCAG-1',
       '25_TTGACCCAGCATTGAA-1', '28_ATACTTCTCCACAGCG-1',
       '15_GTCCACTAGATACATG-1', '5_CTTCCGAAGTTTGAGA-1',
       '4_TACATTCCAGTTGCGC-1', '28_GCAGTTACACCAATTG-1',
       '29_CTTCAATAGTCGGCAA-1', '27_ACGTTCCCAGATCCTA-1',
       '28_ACAGGGAAGTATTCCG-1', '24_GTAGGTTCAGGCGTTC-1',
       '28_GTGTTCCCAAAGGATT-1', '26_GGCGTCAAGCAGCAGT-1',
       '29_ACGGGTCGTGGATTTC-1', '11_AGAACCTGTCATCGGC-1',
       '7_GTAGGTTAGCATTTCG-1', '9_CTTAGGATCACCTCGT-1',
       '28_CGAGGAAAGGATGTTA-1', '27_GAAATGAGTTAGGGAC-1',
       '15_GCAGCTGGTCATCACA-1', '28_GCCATTCTCTCGTCGT-1',
       '5_TTCTTCCCAGCTGTTA-1', '23_CGCGTGAAGAGGGTAA-1',
       '13_GGCACGTTCCCAGCGA-1', '29_TCCTGCATCAAACGTC-1',
       '12_GTCATTTCAGCCATTA-1', '24_CAAGGGATCTTGCAGA-1',
       '4_TGTAACGAGGGTGGGA-1', '4_CCGTTCATCAGGTAAA-1',
       '28_ATGATCGAGAGGTCAC-1', '15_CCGGTGAAGTGCCAGA-1',
       '28_CTCGAGGTCATCAGTG-1', '23_TTCTAGTCAAGCCATT-1',
       '27_TGAGCATCAATTGAAG-1', '29_TTATTGCCAGTATTCG-1',
       '28_CAGGTATCAACACACT-1', '23_GTTATGGTCTCAGTCC-1',
       '3_TCAGCCTGTTGGGTTT-1', '5_CTCATCGGTCTACAAC-1',
       '15_CAGAGCCAGGGCAGAG-1', '27_ATCCTATAGCAGGTCA-1',
       '29_TCGAACATCTGTCAGA-1', '28_CGCGTGAAGGTTGGAC-1',
       '3_CTACGGGAGACAACTA-1', '28_TTTATGCAGAAGTCTA-1',
       '28_GTCTCACCACATCATG-1', '10_ACCTGTCTCGCCGAAC-1',
       '28_TCTGTCGGTAGTACGG-1', '18_AACGAAAAGAGCAAGA-1',
       '5_AACACACCACGAAGAC-1', '11_AAGTACCAGTATGAGT-1',
       '3_TGTGCGGAGAGGCCAT-1', '15_GTCGCGACAGATACTC-1',
       '29_GTATTTCCATCCTTGC-1', '27_TCCTTTCCACAAATAG-1',
       '7_TGTCAGAAGTAGACAT-1', '4_GGGCTCATCTGTCGTC-1',
       '0_GGAGGATTCCTCACCA-1', '27_ACTTCGCCATGATAGA-1',
       '5_CAGGGCTGTAGGTAGC-1', '5_GGGTTTATCCGCATAA-1',
       '28_TGGTACAAGGTATCTC-1', '4_CTCATTATCCTCGATC-1',
       '29_GTAACCAGTAAGCGGT-1', '28_CATCGTCGTCTTCAAG-1',
       '24_CGAGTGCAGCGCCGTT-1', '11_AGCCAGCAGGCCCGTT-1',
       '29_GGATGTTGTAAGTCAA-1', '28_TTGCGTCAGCACTCCG-1',
       '28_GGTTAACGTGTAACGG-1', '26_TTACCATAGGCCACTC-1',
       '27_ATACCGAGTGACTAAA-1', '28_TGATTCTTCGTCGATA-1',
       '5_AGGAAATGTGTCCATA-1', '10_TGTACAGAGGGATCTG-1',
       '5_AGGAAATTCTCAGGCG-1', '28_CACAGATTCACAGTGT-1',
       '28_TCACGGGTCTTGGAAC-1', '28_TTGTTTGGTAGTCGTT-1',
       '24_CACAGGCCATAAGCAA-1', '24_AACTTCTGTCACTACA-1',
       '4_CACTGTCGTTAACAGA-1', '24_TACCGGGTCACCATGA-1',
       '23_TGCGACGAGGTATCTC-1', '10_GCTTCACAGAGTCAGC-1',
       '27_TCTAACTAGATTGGGC-1', '15_TCCCACATCACTACGA-1',
       '28_TCACAAGCAAGTGACG-1', '27_CGTCAAATCTGGACTA-1',
       '9_GGGCTCATCGCGATCG-1', '4_GACTGATGTTTATGCG-1',
       '4_CTCCATGCAACGGCTC-1', '28_GAGTTACAGTAGCATA-1',
       '4_GTGCACGTCGTGCAGC-1', '23_ATCAGGTCATGTGGCC-1',
       '19_TTGGATGTCCGCTAGG-1', '26_TGCTTGCGTTAAGAAC-1',
       '9_ACTTCGCCACTGATTG-1', '0_AGGGTGAGTGAACTAA-1',
       '7_GCTGGGTTCAGTGGGA-1', '1_ATACCGATCGTCTCAC-1',
       '28_ATGCCTCAGATTCGAA-1', '4_GTAGCTACAACAGCCC-1',
       '7_TCGGTCTTCAGTCTTT-1', '28_GAAGCGAGTTGGGTTT-1',
       '3_TATCCTAAGAAGGGAT-1', '3_CATTCCGTCTGACAGT-1',
       '29_TCCAGAAAGGTAGCAC-1', '27_TTCTAGTGTGCGTCGT-1',
       '0_GTAGATCCAGCGACCT-1', '6_AGTAACCCATGGTACT-1',
       '4_TCAGTCCAGTAATACG-1', '25_ACCTACCGTCTTTATC-1',
       '11_TCACATTTCCATCGTC-1', '29_AGTAGTCAGGCGTTGA-1',
       '17_TGCTCCAAGCGATGGT-1', '27_AGGAAATAGCACCTGC-1',
       '10_ACGTACAAGGCTTAGG-1', '23_TTCTAACCAGGTCCGT-1',
       '29_GTCTTTAAGCCTTCTC-1', '28_GTTACCCAGGTCACAG-1',
       '24_ATCGTGACAGACCAAG-1', '29_GTTATGGGTCGGCACT-1',
       '11_CGAGTTAAGCTGAAAT-1', '27_ATTTACCAGGCAATGC-1',
       '28_CACAACAGTGGTCCCA-1', '19_AGGTAGGGTCAAAGTA-1',
       '24_TCACACCCAAGATCCT-1', '29_TACTTGTAGCACTGGA-1',
       '6_ACATCCCCACTCCTTG-1', '4_TTCGGTCCAACAAGAT-1',
       '27_CTACCTGTCTCAATCT-1', '29_ATTCCATAGCACCCAC-1',
       '28_CACCGTTCAAATCGTC-1', '2_TGACCCTGTCAGCTTA-1',
       '29_CAATGACGTATGAAAC-1', '29_GAGTCATTCGAAGTGG-1',
       '29_TTTGATCCACGCTGCA-1', '28_TCGCTCAGTTCGGCGT-1',
       '29_AGTACCAAGGCCTGCT-1', '2_GCTTCACTCGCTGTTC-1',
       '5_CGGTCAGCATCTCATT-1', '26_CTTCTCTTCTCCACTG-1',
       '26_AGGTTGTCATACGCAT-1', '28_GTGGAGATCAAACTGC-1',
       '3_ATGAAAGAGTTCGGTT-1', '10_TAGATCGTCACCATGA-1',
       '27_TCAAGACGTTGTTGTG-1', '10_GCCATGGTCGATAACC-1',
       '24_GGATGTTTCGTTGTGA-1', '4_GTTGTAGCAGTGCCTG-1',
       '4_TGATTTCGTGCTGTCG-1', '10_GTCATGATCCAAACCA-1',
       '28_CAATGACGTGGTCTCG-1', '9_AGGAAATTCATTCATC-1',
       '9_GGGACAAAGGCCCGTT-1', '7_ACAACCATCTGGGATT-1',
       '7_GGGACTCGTAGCTGTT-1', '14_ACGATCACAATGAAAC-1',
       '4_TGCCGAGAGCGATTCT-1', '27_CCTCCAACAATGCAAA-1',
       '9_AACCTTTGTTGTTGAC-1', '5_TTGCATTAGACATACA-1',
       '10_GGAATGGAGGACTATA-1', '28_TGGGAAGAGCCTCACG-1',
       '3_TGTCCACAGGTGCGAT-1', '11_TGCTCCACAAACTCGT-1',
       '3_GTCTTTAAGGGTGAGG-1', '15_GATGCTAGTGGATACG-1',
       '28_TCAGTCCTCAGGAGAC-1', '3_TCGGTCTGTCAACACT-1',
       '4_TAGGAGGCACGGGCTT-1', '5_GGCTTGGCAGTCACGC-1',
       '4_GCCATGGAGCTGTCCG-1', '0_GTCTGTCGTACACGCC-1',
       '5_ATATCCTTCATTTACC-1', '28_AGTCACAGTGGCTGCT-1',
       '3_CCGGACAGTCGCTTAA-1', '28_TTGCTGCGTTCCTAAG-1',
       '3_ACTGTGAAGCGTACAG-1', '9_TGAACGTAGATAGCTA-1',
       '2_CCCTAACGTGTCCGTG-1', '7_TTCCACGTCTAGACAC-1',
       '27_TGAATCGTCACAACCA-1', '5_TGTTCATAGGGTTGCA-1',
       '29_ACGGTTATCTGGTGCG-1'], dtype='<U21')

In [60]:
val_ids, _ = utils.get_splits(
    adata[rest], 'cell_type', 500, oversample=True)