In [1]:
library(Seurat)

Attaching SeuratObject

In [2]:
obj = readRDS("/data/pollock/benchmarking/pollock_datasets_with_folds/scRNAseq/brca_fold2_train.rds")

In [3]:
head(obj@meta.data)

                      cell_type  barcode            sample
18_GGCGTCATCCAACTAG-1 CD8 T cell GGCGTCATCCAACTAG-1 18
0_AGTAACCGTGATACTC-1  CD8 T cell AGTAACCGTGATACTC-1  0
15_ATCGGATGTCGCCTAG-1 CD8 T cell ATCGGATGTCGCCTAG-1 15
28_TTGCATTGTACAGTCT-1 CD8 T cell TTGCATTGTACAGTCT-1 28
11_TCAAGTGAGGTACCTT-1 CD8 T cell TCAAGTGAGGTACCTT-1 11
28_CTGCCATGTAACTGCT-1 CD8 T cell CTGCCATGTAACTGCT-1 28

In [4]:
obj = readRDS("/data/pollock/benchmarking/pollock_datasets_with_folds/scRNAseq/brca_fold2_val.rds")

In [5]:
head(obj@meta.data)

                      cell_type  barcode            sample
29_TTCTTCCGTACGATGG-1 CD8 T cell TTCTTCCGTACGATGG-1 29
1_GTGTAACCACCTGCAG-1  CD8 T cell GTGTAACCACCTGCAG-1  1
17_TCGTAGACAGCTGAAG-1 CD8 T cell TCGTAGACAGCTGAAG-1 17
7_AGAAATGCACCCATAA-1  CD8 T cell AGAAATGCACCCATAA-1  7
15_TTTACTGGTTTGAACC-1 CD8 T cell TTTACTGGTTTGAACC-1 15
26_TTGTTCACACGAGGTA-1 CD8 T cell TTGTTCACACGAGGTA-1 26